{% load static %}
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel='stylesheet' href="{% static 'style.css' %}" type='text/css' />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>

		<script>
			function get(u,id_cont)
			{
				$.ajax({
					url: u,
					cache: false,
					success: function(html){
						$(id_cont).html(html);
					}
				});
			}
			function set_class(id)
			{
				document.getElementById("List_pointers").classList.remove("current");
				document.getElementById("List_games").classList.remove("current");
				document.getElementById("C_pointers").classList.remove("current");
				document.getElementById("C_game").classList.remove("current");
				document.getElementById("logout").classList.remove("current");

				var element = document.getElementById(id);
				element.classList.add("current");
			}
    </script>

	</head>
	<body>
		<div id="page-wrapper">
			<center>
				<ul id="navigation">
					<li id="List_pointers" onclick="set_class('List_pointers')"><a href="#">Список мест</a></li>
					<li id="List_games" onclick="set_class('List_games')"><a href="#">Список игр</a></li>
					<li id="C_pointers" onclick="set_class('C_pointers')"><a href="#" onclick="get('create_pointers','#content')">Создать место</a></li>
					<li id="C_game" onclick="set_class('C_game')"><a href="#" onclick="get('game_form.php','#content')">Создать игру</a></li>
					<li id="logout" class="current"><a href="logout.php">Выход</a></li>
				</ul>
			<div id="content"></div>
			</center>
		</div>

		<br class="clear">
		<div id="footer">mnc_game</div>

	</body>