{% if request.user.is_authenticated %}
{% load static %}
<head>
		<meta charset="utf-8">

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel='stylesheet' href="{% static 'style.css' %}" type='text/css' />
		<!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>-->
		<link href="{% static 'dist/css/lightbox.min.css' %}" rel="stylesheet" />



		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
		<script>
			function get(u,id_cont)
			{
				$.ajax({
					url: u,
					cache: false,
					success: function(html){
						$(id_cont).html(html);
					}
				});
			}
			function set_class(id)
			{
				document.getElementById("List_pointers").classList.remove("current");
				document.getElementById("games_list").classList.remove("current");
				document.getElementById("C_pointers").classList.remove("current");
				document.getElementById("C_game").classList.remove("current");
				document.getElementById("C_teams").classList.remove("current");
				document.getElementById("teams_list").classList.remove("current");
				document.getElementById("logout").classList.remove("current");

				var element = document.getElementById(id);
				element.classList.add("current");
			}
    </script>

	</head>
	<body><script src="{% static 'dist/js/lightbox-plus-jquery.min.js' %}"></script>
		<div id="page-wrapper">
			<center>
				<ul id="navigation">
					<li id="List_pointers" onclick="set_class('List_pointers')"><a href="#" onclick="get('pointers_list','#content')">Список мест</a></li>
					<li id="games_list" onclick="set_class('games_list')"><a href="#" onclick="get('games_list','#content')">Список игр</a></li>
					<li id="teams_list" onclick="set_class('teams_list')"><a href="#" onclick="get('teams_list','#content')">Список команд</a></li>
					<li id="C_pointers" onclick="set_class('C_pointers')"><a href="#" onclick="get('create_pointers','#content')">Создать место</a></li>
					<li id="C_game" onclick="set_class('C_game')"><a href="#" onclick="get('creategame_form','#content')">Создать игру</a></li>
					<li id="C_teams" onclick="set_class('C_teams')"><a href="#" onclick="get('create_team','#content')">Создать команду</a></li>
					<li id="logout" class="current"><a href="out">Выход</a></li>
				</ul>
			<div id="content"></div>
			</center>
		</div>

		<br class="clear">
		<div id="footer"><label onclick="alert('1)Создать поинтер \n2)Создать игру\n3)Создать комманду')">mnc_game</laabel></div>

	</body>
{% else %}
<br/><br/><br/><br/><br/>
<center>
	<form method="post" action="login">{% csrf_token %}
		<label for="username">username: </label>
		<input name="username" type="text">
		<label for="password">password: </label>
		<input name="password" type="password">
		<button type="submit">login</button>
	</form>
</center>


{% endif %}
