{% load static %}
<script>
	function getcode()
	{
		$.ajax({
			url: 'gen_id',
			cache: false,
			success: function(html){
			document.getElementById('Location_code').value = html;

			}
		});
}
</script>
<style>
.no_st {
    margin : initial;
	padding : initial;
	#border : 0;
	font-weight : initial;
	font-style : initial;
	font-size : initial;
	font-family : initial;
	vertical-align : initial;
	color : initial;
	width : 30%;
	background : #eaeaea;
	border-collapse : initial;
	border-spacing : 0;
	font : 12px/18px Arial, Helvetica Neue, Helvetica, sans-serif;;
}

</style>
<style>
   #inet {width: 300px; /* Ширина поля в пикселах */}
   #Help{width: 300px; /* Ширина поля в пикселах */}
   #Description{width: 300px; /* Ширина поля в пикселах */}
</style>

<script>
(function($)
{

	$("#pointer_form").submit(function(event)
	{
		event.preventDefault(); //prevent default action
		var post_url = $(this).attr("action"); //get form action url
		var request_method = $(this).attr("method"); //get form GET/POST method
		var form_data = new FormData(this); //Creates new FormData object
		$.ajax({
			url : post_url,
			type: request_method,
			data : form_data,
			contentType: false,
			cache: false,
			processData:false
		}).done(function(response)
		{ //
			$("#content").html(response);
		});
	});
})(jQuery)
</script>


		<div id="page">
			<div class="box-header">Создание поинтеров</div>
			<div class="box tab-content" id="create_pointer">
				<p>Укажите параметры поинтера: </p>
				<div class="title">Поинтер</div>
				{% block form_url %}
				<form  id="pointer_form" action="game_pointers" method="POST" enctype="multipart/form-data">
				{% endblock %}
					{% csrf_token %}
					<table >
						<tbody>
							<tr>
								<td style="text-align:right;">Идентиф. локации:</td>
								{% block identif %}
								<td><input name="pointer_id" id="Location_code" type="text" value="" ondblclick="getcode()" placeholder="Даблклик для генерации" autocomplete="off" required ></td>
								{% endblock %}
							</tr>
							<tr>
								<td style="text-align:right;">Название локации:</td>
								{% block location_name %}
								<td><input name="name_location" id="Location_name" type="text" value="" spellcheck="true" autocomplete="off" required ></td>
								{% endblock %}
							</tr>
							<tr>
								<td style="text-align:right;">Latitude/Широта:</td>
								{% block latitude %}
								<td><input name="lat" id="Latitude" type="text" value="" autocomplete="off" required ></td>
								{% endblock %}
							</tr>
							<tr>
								<td style="text-align:right;">Longitude/Долгота:</td>
								{% block longitude %}
								<td><input name="long" id="Longitude" type="text" value="" autocomplete="off" required ></td>
								{% endblock %}
							</tr>
							<tr>
								<td style="text-align:right;">Описание:</td>
								{% block description %}
								<td><textarea  name="description" id="Description" type="text" spellcheck="true"  autocomplete="off" required ></textarea></td>
								{% endblock %}
							</tr>
							<tr>
								<td style="text-align:right;">Подсказка:</td>
								{% block help %}
								<td><textarea  name="help" id="help" spellcheck="true"  autocomplete="off" required ></textarea></td>
								{% endblock %}
								<!--td><input name="Help" id="Help" type="text" spellcheck="true"  autocomplete="off" required ></td-->
							</tr>
							<tr>
								<td style="text-align:right;">Ответ:</td>
								{% block answer %}
								<td><input name="answer" id="answer" type="text" value="" autocomplete="off" required ></td>
								{% endblock %}
							</tr>
							<tr>
								<td style="text-align:right;">Доступность сети интернет:</td>
								<td size ="10">
									{% block area %}
										<select id="inet" name ="area" required >
											<option value="LTE">LTE</option>
											<option value="3G">3G</option>
											<option value="Так себе">Так себе</option>
											<option selected value="Бункер/Пустыня">Бункер/Пустыня</option>
									   </select>
									{% endblock %}
								</td>
							</tr>

								{% for elm in Files %}
									<tr>
									<td style="text-align:right;"></td>
									<td>
									{{elm}}
									<a onclick="get('delete_pointer/{{item.pointer_id}}','#content')" href="#" title="Удалить конкретно">
									<svg xmlns="http://www.w3.org/2000/svg" color = "Red" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
									  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
									</svg>
									</a>
									</td>
								{% endfor %}

							</tr>

							<tr>
								<td></td>
								<td><input type="file" multiple accept="image/jpeg, image/png" name="my_file"><br/>Можно выбрать несколько файлов за раз</td>
							</tr>
							<tr>
								<td></td>
								<td><input name="submit" onclick="set_class('List_pointers')" class="button" type="submit" value="Save" required ></td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>