{% load static %}
<script>
	function getcode()
	{
		$.ajax({
			url: 'gen_id',
			cache: false,
			success: function(html){
			document.getElementById('Location_code').value = html;

			}
		});
}
</script>
<style>
.no_st {
    margin : initial;
	padding : initial;
	#border : 0;
	font-weight : initial;
	font-style : initial;
	font-size : initial;
	font-family : initial;
	vertical-align : initial;
	color : initial;
	width : 30%;
	background : #eaeaea;
	border-collapse : initial;
	border-spacing : 0;
	font : 12px/18px Arial, Helvetica Neue, Helvetica, sans-serif;;
}

</style>
<style>
   #inet {width: 300px; /* Ширина поля в пикселах */}
   #Help{width: 300px; /* Ширина поля в пикселах */}
   #Description{width: 300px; /* Ширина поля в пикселах */}
</style>

<script>
(function($)
{

	$("#pointer_form").submit(function(event)
	{
		event.preventDefault(); //prevent default action
		var post_url = $(this).attr("action"); //get form action url
		var request_method = $(this).attr("method"); //get form GET/POST method
		var form_data = new FormData(this); //Creates new FormData object
		$.ajax({
			url : post_url,
			type: request_method,
			data : form_data,
			contentType: false,
			cache: false,
			processData:false
		}).done(function(response)
		{ //
			$("#content").html(response);
		});
	});
})(jQuery)
</script>
<script>
var i = 1;

function changeIt() {
    var tr = document.createElement('tr');
    var td = tr.appendChild(document.createElement('td'));
    td.style.valign = 'middle';

    var span = td.appendChild(document.createElement('span'));
    span.style.fontWeight = 'bold';
    span.appendChild(document.createTextNode('URL ' + i));

    td = tr.appendChild(document.createElement('td'));
    var input = td.appendChild(document.createElement('input'));
    input.name = 'url' + ++i;
    input.type = 'text';
    input.size = '40'

    document.getElementById('myTable').tBodies[0].appendChild(tr);

}
</script>

		<div id="page">
			<div class="box-header">Создание игры</div>
			<div class="box tab-content" id="create_pointer">
				<p>Укажите параметры игры: </p>
				<div class="title">Поинтер</div>
				<form  id="pointer_form" action="game_pointers" method="POST" enctype="multipart/form-data">{% csrf_token %}
					<table id="game_table">
						<tbody>
							<tr>
								<td style="text-align:right;">Идентиф. локации:</td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
